@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
	color:black;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	list-style: none;
	padding:0px;
}



html, body {
	height:100%;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	/* overflow-x: hidden; */
}

body {
	margin: 0px;
	padding:0px;
	background:#E0E0E0;
}

header {
	width:100%;
}

p {
	margin:0px;
}

.footer-nav li, .price-list .row div, .price-box p, .impor-info p, .box p, .time-box .day{
	font-size:.8em;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item-center {
	display: flex;
	align-items: center;
}

.margin-auto {
	margin:auto;
}

.text-uppercase {
	text-transform: uppercase;
}

.padding-top {
	padding-top:40px;
}

iframe {
	margin-bottom:-105px
}

/*HEADER*/
.nav-container {
	width: 90%;
	height:80px;
	display: flex;
	justify-content:space-between ;
	padding: 10px 0px;
}

.border-bottom-for-nav {
	border-bottom:2px solid #1F2737;
}

.logo {
	width:35%;
	height:80px;
	display: flex;
}

.logo img {
	width:25px;
	height:70px;
	margin-top:5px;
}

.logo span {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left:10px;
}

.logo span  p {
	letter-spacing: 2px;
}

.nav-bar-icon p {
	width:25px;
	height:2px;
	background: black;
	margin:10px;
}

.header-container {
	width:100%;
	height:calc(100vh - 80px);
	background: url('images/background-header1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 50%;
	display: flex;
	justify-content: center;
}

.header-content {
	letter-spacing: 5px;
	text-align: center;
	margin-top:40%;
}

.header-content > p, .header-content > h1, .header-content > a {
	color:white;
}

.header-content h1 {
	margin-bottom:0px;
	font-weight: 400;
}

.header-content a{
	position: relative;
	top:50px;
	text-align: center;
	background:#171D29;
	padding:10px 30px 10px 40px;
	border-radius: 5px;
	box-shadow: -5px 5px 10px black;
}

.menu {
	width:100%;
	height:100vh;
	position:fixed;
	left:0px;
	top:0px;
	z-index: 3;
	background: #171D29;
	display: none;
}

.menu ul {
	width:90%;
	margin:10px auto
}

.menu li {
	color:#fff;
	font-weight: 300;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	gap: 10px;
}

.menu p, i {
	color:#fff;
} 

.menu li:hover {
	background:#1C2331;
	font-weight: 700;
}



/*MAIN*/

main {
	width:100%;
}

.important-info {
	width: calc(100% - 20px);
	display: flex;
	position: relative;
	overflow-x: scroll;
	gap: 30px;
	padding-left:20px;
}

.important-info {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.important-info::-webkit-scrollbar {
  display: none;
}

.info-box {
	flex:0 0 260px;
	min-height:200px;
	margin: 40px auto;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 19px -11px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 19px -11px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 19px -11px rgba(66, 68, 90, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:0px 20px 30px 20px; 
	position: relative;
}


.info-icon{
	min-width: 50px;
	min-height: 50px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-25px;
	position: relative;

}

.info-neg {
	background: #d9534f;
}

.info-que {
	background: #5bc0de;
}

.info-icon i {
	color:#fff;
	font-size: 1.5em;
}

.info-title {
	margin-top: -10px;
	color:#1C2331;
	font-weight: 500;
	font-size: 1.2em;
}

.info-description {
	text-align: justify;
	letter-spacing: 1.5px;

}

.info-date {
	position: absolute;
	right: 10px;
	bottom:10px;
}

.info-arrows {
	width:100%;
	display: flex;
	justify-content: space-between;
/*	margin-top: -20px;*/
	z-index: 2;
}

.info-arrows i {
	font-size:1.5em;
	color:#1C2331;
}

.left-arrow, .right-arrow {
	cursor: pointer;
}


.post {
	width: 100%;
  margin-bottom:50px;
}

.post-header {
	width:100%;
	text-align: center;
	margin-bottom: 20px;
}

.post-header h2 {
	color:#1C2331;
	margin:0px;
	font-weight: 500;
}

.post-header p {
	width:80px;
	height:2px;
	background:#FF3366;
	margin:10px auto;
}

.post > .post-content {
	width:100%;
	flex-direction: column;
	padding:20px 0px;
}

.dark-post {
	background:#171D29;
	color:white;
}

.light-post {
	background: none;
	color: black;
	border-bottom:2px solid #D0D0D0;
}

.post-content > p {
	color:inherit;
}

.post > .post-content > a {
	background:#FF3366;
	color:white;
	padding:10px;
	border-radius: 5px;
}

.post > .post-content > span {
	display: none;
}

.post > .post-content > p {
	width:80%;
	text-align: justify;
	letter-spacing: 1.5px;
	line-height: 22px;
}


footer {
	flex-shrink: 0;
	width:100%;
	margin-top:100px;
	background:#1C1C1C;
}


.footer-header {
	width: 90%;
	padding:30px 0px 10px 0px;
	text-align: center;
	border-bottom: 1px solid #4F4F4F;
}

.footer-header > h2, .footer-header > p {
	color:white;
	margin:0px;
	font-weight: 400;
	letter-spacing: 3px;
}

.footer-nav {
	margin-top:40px;
	margin-left:20px;
}

.footer-nav ul {
	margin-top:5px;
}


.footer-nav > h3 {
	color:white;
	letter-spacing: 3px;
	font-weight: 500;
	margin:0px;
	text-transform: uppercase;
}

.footer-nav > p {
	width:30px;
	height:2px;
	background:#FF3366;
	margin-top:5px;
}

.footer-nav li {
	color:#757575;
	text-transform: uppercase;
	font-weight: 500;
	padding-top:5px;
}

.footer-nav li:hover {
	color:white;
}

footer .copy {
	width: calc(100% - 40px);
	margin-top:30px;
	background: #0D0D0D;
	text-align: center;
	padding:20px;
}

.subpage-header {
	width:100%;
	height:80px;
	text-transform: capitalize;
	background:#171D29;
	text-align: center;
}

.subpage-header h1 {
	font-size:1.6em;
	color:white;
}

.news-contianer {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.line {
	flex-direction: column;
}

.line > div {
	width:20px;
	height:20px;
	background:#BDBDBD;
	border-radius: 100%;
}

.line > p {
	width:2px;
	background:#BDBDBD;
	margin-top:-2px;
	flex:1;
}

.news-box {
	width:100%;
	display: flex;
	margin-top:30px;
}

.news-line {
	max-width:100px;
	height:2px;
	background:#BDBDBD;
	position: relative;
	top:30px;
	left:-10px;
	padding: 0px 10px;
}

.news-box h3 {
	color:#FF3366;
	font-weight: 500;
	margin-bottom:0px;
}


.news-box p {
	text-align: justify;
	font-weight: 500;
	color:#4F4F4F;
	margin-top:10px;
	max-width: 600px;
}

.pagination {
	width: 100%;
	margin-top:50px;
	display: flex;
	justify-content: center;
}

.pagination-box {
	display: flex;
	gap:20px;
	padding:10px 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgb(197, 197, 197);
}

.pagination-box i {
	color:black;
}

.pagination-box a {
	padding:1px 5px;
}

.pagination-box .current {
	background-color: #FF3366;
	color:#fff !important;
	border-radius: 2px;
}

.show-more-news {
	width: 100%;
	margin-top:50px;
}

.btn-more {
	width:50px;
	height:50px;
	font-size: 1.3em;
	border-radius: 100%;
	background: #C8C8C8;
	border: none;
}

.btn-more i {
	color:#808080;
}

.price-list {
	width: 100%;
	margin:30px 0px;
	text-align: center;
}

.price-content {
	width:100%; 
	text-align: justify; 
	color:#4F4F4F; 
	letter-spacing: 2px;
	padding:15px 0px;
}

.price-list h3 {
	margin-bottom:10px;
	color:#333;
}


.price-btn div {
	width:120px;
	height:50px;
	background:#171D29 ;
	border-radius: 10px;
	justify-content: space-evenly;
	font-size: .9em;
}

.price-list .row {
	width:100%;
	height:50px;
}

.price-list .row:nth-child(2n) {
	background:#171D29 ;
}


.price-list .row div {
	height:40px;
	flex: 1 1 0px;
	color:#BDBDBD;
}

.camp-header {
	display: none;
}

.respons-container {
	width:90%;
	margin: auto;
}


.respons-container strong, .respons-container p {
	color:#4F4F4F;
}

.contact-information div {
	margin-bottom: 20px;
}

.contact-information i {
	font-size:1.2em;
	margin-right:20px;
	color:#FF3366;
}

.contact-information p {
	color: #171D29;
}

.price-container {
	width:100%;
}

.price-box {
	width: 100%;
	text-align: center;
	background: #171D29;
	padding-top:20px;
}

.price-box p {
	text-align: center;
}

.price-box h2 {
	color: #fff;
	font-weight: 100;
	margin:10px 0px;
}

.price-box strong {
	color: #fff;
	font-size:1.2em;
}

.price-box p {
	color:#fff;
	font-weight: 100;
	margin:10px 0px 20px 0px;
}

.impor-info i {
	font-size:2em;
	margin-right: 10px;
	color:#E13C37;
}

.impor-info p {
	letter-spacing: 1.5px;
	max-width: 700px ;
}

.join {
	width:100%;
	padding:20px 0px;
	text-align: center;
	background: #171D29;
}

.btn-join {
	color: #fff;
	padding:15px;
	background: #FF3366;
	border-radius: 10px;
}

.break {
	width:70%;
	height:1px;
	background: #282E39;
	margin: auto;
}

.oyama-img {
	width:150px;
	height: 150px;
	border-radius: 100%;
}

.box {
	max-width: 600px;
	margin: auto;
}

.show-content {
	text-align: center;
}

.content-justify {
	text-align: justify;
	letter-spacing: 1.5px;
	margin-top:10px;
}

.timetable-box {
	width:100%;
	display: flex;
	background-color: #171D29;
	border-radius: 5px;
}

.timetable-contianer {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.timetable-day-header {
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: .8em;
	padding:10px 0px;
	color:#171D29;
}

.timetable-line {
	max-width:100px;
	height:1px;
	background:#BDBDBD;
	position: relative;
	top:30px;
	left:-10px;
	padding: 0px 5px;
}

.timetable-box .box-content {
	padding:10px;
	display: flex;
	flex-direction: column;
	gap:5px;
	width: 100%;
}


.timetable-box .box-content a {
	font-size: .7em;
	color:#FF3366;
	font-weight: 400;
	text-transform: capitalize;
}

.timetable-box .box-content h3 {
	margin:0px;
	padding:5px 0px;
	color:#fff;
	text-transform: uppercase;
	font-size:.9em;
}

.timetable-box .box-content div {
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 0px 30px black;
	border-radius: 5px;
	margin-bottom: 5px;
}

.timetable-box .box-content i {
	color:#FF3366;
}

.timetable-box .box-content p {
	color:#fff;
	font-size: .8em;
}

.addresses {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.addresses span {
	min-width: 10px;
	height:10px;
	background:#FF3366;
	border-radius: 100%;
	display: block;
}

.addresses div {
	gap:10px;
}

.addresses a {
	text-decoration: underline;
	font-style: italic;
	color:#4F4F4F;
}


.nav-container-full-screen {
	display: none;
}

.table-requirements {
	width: 100vw;
	display: flex;
	flex-direction: column;
	position: relative;
  left: calc(-50vw + 50%);
}

.table-requirements .row {
	display: flex;

}

.table-requirements .row div {
	flex: 1 1 0;
	height:50px;
	color:#BDBDBD;
}

.slider {
	width:80%;
	height:300px;
	margin:50px auto;
	display: none;
	border-radius: 20px;
	overflow: hidden;
	-webkit-box-shadow: 8px 3px 24px -5px rgba(66, 68, 90, 1);
	-moz-box-shadow: 8px 3px 24px -5px rgba(66, 68, 90, 1);
	box-shadow: 8px 3px 24px -5px rgba(66, 68, 90, 1);

}

.slider-content {
	width:30%;
	height:100%;
	background: #171D29;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slider-image {
   	width: 70%;
	display: flex;
	overflow: hidden;
	position: relative;

}

.slider-image .img {
	min-width: 101%;
	height: 400px;
	transform: translate(0%, -25%);
	z-index: -1;
	transition: all .5s ease-in-out;
}

.slider-content h3 {
	color:#fff;
	font-size: 1.5em;
	font-weight: 400;
}

.slider-content p {
	color:#fff;
	font-size: .8em;
	font-weight: 100;
}

.slider-content > .btn-join {
	padding: 10px 15px;
	margin-top:20px;
}

.slider .arrows {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.slider .left-arrow {
	visibility: hidden;
}

.slider .arrows div {
	width: 40px;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.slider  i {
	color:#fff;
	font-size:1.5em;
}

.slider .dots {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	gap: 20px;
	bottom:20px;
	z-index: 2;
	
}

.slider .dots p {
	width:10px;
	height: 10px;
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
	opacity: .5;
}

.slider .dots p:first-child {
	opacity: 1;
}

.black-filter{
	width: 100%;
	height:100%;
	background-color: rgba(190, 233, 232, 1);
	background-image: radial-gradient(circle, rgba(190, 233, 232, 1) 0%, rgba(25, 114, 120, 1) 41%);
	position: absolute;
	opacity: 0.1;
}

.gallery {
	width:100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.img-box {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.img-box img {
	width:100%;
	transition: all .5s ease-in-out;
}

.img-box p {
	position: absolute;
	bottom:0px;
	width: 100%;
	height:50px;
	background: #222;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	transform: translateY(50px);
	transition: all .5s ease-in-out;
}

.img-box:hover p {
	transform: translateY(0px);
}


.img-box img:hover {
	transform: scale(1.2);
}

.circle {
	min-width: 10px;
	max-width: 10px;
	height: 10px;
	background:#FF3366;
	border-radius: 100%;
	margin-right: 20px;
}

.e404, .e500 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	letter-spacing: 2px;
}

.e404 h1, .e500 h1 {
	font-size: 6em;
	color:#1C2331;
	margin:0px;
}

.e500 h2 {
	font-size:2em;
	margin: 0px;
	color:#dc3545;
}

.e404 p, .e500 p {
	color:gray;
}

.e404 a {
	padding:5px 20px;
	background-color: #3760E3;
	color:#fff;
	border-radius: 2px;
}